In [17]:
import pandas as pd
from aes_class import AES
import numpy as np

In [18]:
df = pd.read_excel("soal/S5_jawaban.xlsx")
kode = df.kode.tolist()
skor = df.skor.tolist()
jawaban = df.jawaban.tolist()
df.head()

,Unnamed: 0,Unnamed: 1,kode,skor,jawaban
0,0,20.0,0,10,menurut pendapat saya tampilan / dialog antarm...
1,1,NaN,0,10,lebih jelas\n-> tampilan semakin baik\n-> tamp...
2,2,NaN,1,10,untuk membuat interaksi pengguna sederhana dan...
3,3,NaN,0,10,user interface yang baik\n-> jelas : yaitu tom...
4,4,NaN,1,20,“Good desain” pada tampilan web :\na)\tMudah d...

In [19]:
skor_train = list()
jawaban_train = list()

skor_test = list()
jawaban_test = list()

for index, i in enumerate(kode):
    if i==1:
        skor_train.append(skor[index])
        jawaban_train.append(jawaban[index])
    else:
        skor_test.append(skor[index])
        jawaban_test.append(jawaban[index])

# buat_model

In [26]:
model=  AES.AES(stop_words=True)

In [27]:
#latih model
model.train(jawaban_train, skor_train)
skor_prediksi  = list()
similarity = list()
#prediksi data latih
for jawaban_siswa in jawaban_test:
    print(".", end="")
    sc = model.predict(jawaban_siswa)
    skor_prediksi.append(sc)
    similarity.append(max(model.hasil_cosine_similarity))

......................

In [28]:
dict_={
    "skor_asli":skor_test,
    "skor_prediksi":skor_prediksi,
    "similarity":similarity
}
pd.DataFrame.from_dict(dict_)

    skor_asli  skor_prediksi  similarity
0          10             10    0.310039
1          10             10    0.160290
2          10             10    0.425346
3          10             10    0.443856
4          10             10    0.395012
5          10             10    0.412094
6          10             10    0.293581
7          10             10    0.405200
8          10             10    0.329892
9          10             10    0.369179
10         10             10    0.417905
11         10             10    0.260941
12         10             10    0.430796
13         10             10    0.290730
14         10             10    0.388836
15         10             10    0.449188
16         10             20    0.174635
17         20             15    0.334464
18         15             10    0.327364
19         10             10    0.254076
20         10             10    0.402083
21         10             10    0.269997

In [29]:
model.jawaban

'Menurut saya desain Yang bagus Mudah & menyenangkan Dan tidak Membuat kita untuk berpikir Yang rumit Hanya membutuhkan tindakan satu langkah untuk melakukan inti tugas .'

In [30]:
from sklearn.metrics import accuracy_score
accuracy_score(skor_test, skor_prediksi)

0.8636363636363636