In [1]:
from os import listdir
from os.path import isfile, join
def dfile (path):
    mypath = path
    onlyfiles = [f for f in listdir(mypath) if isfile(join(mypath, f))]
    return onlyfiles

In [2]:
pwd

'C:\\Users\\T\\Dropbox\\thesis soal essay\\koding'

In [4]:
import pandas as pd

In [ ]:
dict = {
    "S1":{
        "skor":[]
        "jawaban":[]
    }
}

In [43]:
for index, i in enumerate(dfile (r'C:\Users\T\Dropbox\thesis soal essay\koding\data')):
    print(index, i)

0 data1.xlsx
1 data10.xlsx
2 data11.xlsx
3 data12.xlsx
4 data13.xlsx
5 data14.xlsx
6 data15.xlsx
7 data16.xlsx
8 data17.xlsx
9 data18.xlsx
10 data19.xlsx
11 data2.xlsx
12 data20.xlsx
13 data21.xlsx
14 data22.xlsx
15 data23.xlsx
16 data24.xlsx
17 data25.xlsx
18 data26.xlsx
19 data27.xlsx
20 data28.xlsx
21 data29.xlsx
22 data3.xlsx
23 data30.xlsx
24 data31.xlsx
25 data32.xlsx
26 data33.xlsx
27 data34.xlsx
28 data35.xlsx
29 data36.xlsx
30 data37.xlsx
31 data38.xlsx
32 data39.xlsx
33 data4.xlsx
34 data40.xlsx
35 data41.xlsx
36 data42.xlsx
37 data5.xlsx
38 data6.xlsx
39 data7.xlsx
40 data8.xlsx
41 data9.xlsx

In [44]:
sheet_names = ["S1a", "S1b","S2a","S2b","S3","S4","S5"]
dict_data = dict()
for i in sheet_names:
    dict_data.update({i:{"skor":[],"jawaban":[]}})
dict_data
for i in dfile (r'C:\Users\T\Dropbox\thesis soal essay\koding\data'):
    for sh in sheet_names:
        df = pd.read_excel("data/"+i, sheet_name = sh)
        dict_data[sh]["skor"].append(df.skor.tolist()[0])
        dict_data[sh]["jawaban"].append(df.jawaban.tolist()[0])

In [54]:
for key, value in dict_data.items():
    df = pd.DataFrame.from_dict(value)
    df.to_excel("soal/"+key+"_jawaban.xlsx")

In [38]:
len(dict_data['S1a']["skor"])

9

In [47]:
print(dict_data['S2a']['jawaban'][4])
print(dict_data['S2a']['skor'][4])

a)	Perkembangan aplikasi berbasis mobile yang akan muncul di masa depan adalah segala sesuatu atau kegiatan manusia yang sekarang masih  manual akan berubah menjadi otomatis melalui mobile seperti mobile payment (pembayaran melalui mobile), melakukan pekerjaan rumah seperti : menyalakan lampu, TV dll hanya menggunakan mobile dll.
15

In [14]:
pd.read_excel("data/data1.xlsx", sheet_name = "S3")

   urutan   skor                                            jawaban
0        3    20   tahap - tahap perancangan sistem informasi \n...

In [11]:
dfile (r'C:\Users\T\Dropbox\thesis soal essay\koding\data')

['data1.xlsx',
 'data10.xlsx',
 'data11.xlsx',
 'data12.xlsx',
 'data13.xlsx',
 'data14.xlsx',
 'data15.xlsx',
 'data16.xlsx',
 'data17.xlsx',
 'data18.xlsx',
 'data19.xlsx',
 'data2.xlsx',
 'data20.xlsx',
 'data21.xlsx',
 'data22.xlsx',
 'data23.xlsx',
 'data24.xlsx',
 'data25.xlsx',
 'data26.xlsx',
 'data27.xlsx',
 'data28.xlsx',
 'data29.xlsx',
 'data3.xlsx',
 'data30.xlsx',
 'data31.xlsx',
 'data32.xlsx',
 'data33.xlsx',
 'data34.xlsx',
 'data35.xlsx',
 'data36.xlsx',
 'data37.xlsx',
 'data38.xlsx',
 'data39.xlsx',
 'data4.xlsx',
 'data40.xlsx',
 'data41.xlsx',
 'data42.xlsx',
 'data5.xlsx',
 'data6.xlsx',
 'data7.xlsx',
 'data8.xlsx',
 'data9.xlsx',
 '~$data1.xlsx']