In [7]:
import pandas as pd
from aes_class import AES
import numpy as np

In [5]:
df = pd.read_excel("soal/S2b_jawaban.xlsx")
kode = df.kode.tolist()
skor = df.skor.tolist()
jawaban = df.jawaban.tolist()
df.head()

,Unnamed: 0,Unnamed: 1,kode,skor,jawaban
0,6,20,1,10,a)\tCara kerja mikrokontroler adalah salah sat...
1,9,20,1,10,a)\tCara kerja mikrokontroler\n\tberdasarkan ...
2,11,20,1,10,a. cara kerja secara sederhana dari microkontr...
3,18,20,1,10,A. \tCara kerja mikrokontroler yaitu :\na.\tBe...
4,36,20,1,10,a)\tMikrokontroler adalah sebuah chip yang ber...

In [8]:
skor_train = list()
jawaban_train = list()

skor_test = list()
jawaban_test = list()

for index, i in enumerate(kode):
    if i==1:
        skor_train.append(skor[index])
        jawaban_train.append(jawaban[index])
    else:
        skor_test.append(skor[index])
        jawaban_test.append(jawaban[index])

# buat_model

In [10]:
model=  AES.AES(ngram=True)

In [15]:
#latih model
model.train(jawaban_train, skor_train)
skor_prediksi  = list()
similarity = list()
#prediksi data latih
for jawaban_siswa in jawaban_test:
    print(".", end="")
    sc = model.predict(jawaban_siswa)
    skor_prediksi.append(sc)
    similarity.append(max(model.hasil_cosine_similarity))

......................

In [18]:
dict_={
    "skor_asli":skor_test,
    "skor_prediksi":skor_prediksi,
    "similarity":similarity
}
pd.DataFrame.from_dict(dict_)

    skor_asli  skor_prediksi  similarity
0          10             10    0.802788
1          10             10    0.746629
2          10             10    0.290948
3           5              5    0.545366
4           5              5    0.740447
5           5              5    0.787713
6           5              5    0.556911
7           5              5    0.689060
8           5             10    0.715229
9           5              5    0.743556
10          5              5    0.604284
11          5              5    0.496934
12          5              5    0.488365
13          5              5    0.388132
14          5             10    0.727535
15          5              5    0.753898
16          5              5    0.552901
17          5             10    0.628512
18          5              5    0.643369
19          5              5    0.617640
20          5              5    0.415690
21          5              5    0.398480

In [19]:
from sklearn.metrics import accuracy_score
accuracy_score(skor_test, skor_prediksi)

0.8636363636363636

In [20]:
# import nltk

In [21]:
# nltk.download('punkt')